extends layout

block content
 body
  form(action='/new', method='POST')
    p
      | title: 
      input(type='text', name='title', value='')
      |          user: 
      input(type='text', name='year', value='')
    input(type='submit', value='Submit')
