extends layout

block content
 body
  form(action='/new', method='POST')
    p
      | Title: 
      input(type='text', name='title', value='')
      | User: 
      input(type='text', name='user', value='')
    input(type='submit', value='Submit')
